body {
/*    background-image: url(http://billpollock.com/eathappy/data/gramma/Publish/leather-book-variant-3.jpg);*/
   background-image: url(http://billpollock.com/eathappy/data/gramma/Publish/leather-book-variant-1-recolored.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
.navbar-header .collectionLabel {
  font-size: .8em;
}
.nameplate .name {
  padding-bottom: .25em;
}
.nameplate .name, .index .name {
    color: #bbb;

}
.nameplate .collectionLabel,
.recipe .recipeTitle {
    color: white;
}

.btn-pleaasant {
  color: #ffffff;
  background-color: #8E5151;
  border-color: #285e8e;
}

.index .btn-pleasant, .index .btn-pleasant:hover, .index .btn-pleasant:focus, .index .btn-pleasant:active, .index .btn-pleasant.active, .open .dropdown-toggle.index .btn-pleasant {
  background-color: #8E5151;
  color: white;
  border: white;
}

