/* Pollock, Wm.  2015- */
body {
  background: #fefcea; /* Old browsers */
  background: -moz-linear-gradient(top,  #fefcea 10%, #fff700 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#fff700)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fefcea 10%,#fff700 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fefcea 10%,#fff700 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fefcea 10%,#fff700 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fefcea 10%,#fff700 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#fff700',GradientType=0 ); /* IE6-9 */
  background-attachment: fixed;
}
h3 {
  font-weight: bold;
}
.recipeTitle .iconBlock {
  float: right;
  font-size: .75em;
  padding-top: .25em;
}
.panel-heading  span.badge {
  min-width: 48px;  
  float: right;
}
.panel-heading .control {
  float: left; 
  margin-right: 10px;
}

/* Dropdown (2.0) menu) */
.navbar-header h3 {
   margin: 0px;
}
.navbar-header .navbar-brand {
  padding-left: 0px;
  line-height: .9em;
}
.panel-default>.panel-body {
  border-top-color: black;
} 
#eathappy .off, 
#eathappy .expand-content {
  display: none;
}
.container.core  {
  margin-top: 60px; /* To do what one would expect built-in for navbar spacing */
/* This would work but needs to be enabled for display and navbar setup only
/*  max-width: 600px;*/
} 
.container.core ul.nav-pills {
  margin-bottom: 1em;
}
.editor .input-group {
   margin-bottom: 20px;
}
.editor .input-group-addon {
  font-weight: bold;
}
.clearfloat {
  clear: both;
}
.editor .well {
  width: 100%;
}
.editor .form-horizontal .list-group-item .form-group {
  margin-bottom: 0px;
}

/* FANKS, VENDORS */
::-webkit-input-placeholder,
:-ms-input-placeholder {  
  font-variant: small-caps;
   color: red;  
}
::-moz-placeholder {
  font-variant: small-caps;
   color: red;  
}
.index .list-group a {
   display: block;
   font-size: 16px;
}
.editor .ingredients li:nth-child(even) {
  background-color: #DDD
}
/*.ui-state-highlight { height: 3.5em; line-height: 1.2em; background-color: yellow }*/
.masthead .name {
  font-size: 18px;
}
.navbar-brand {
  margin-left: .5em;
}
.navbar-brand .name {
  font-size: .6em;
  padding-bottom: .2em;
  line-height: .6em;
  color: red;
  
}
.confirmation {
  border: 2px dotted black;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #BEF236;
}

.edit-link {
  display: none;
}
/* Turn on control on entry page*/
#eathappy.recipe .edit-link {
    display: block;
}
/* Turn off controlson editor */
#eathappy.editor .editor-controls {
    display: none;
}


#eathappy.editor .secondary-categories input[type=checkbox] + label {
  color: #333;
  font-style: italic;
  border: 2px solid #ddd;
  background-color: #ddd;
  border: 2px solid #aaa;
  border-radius: 5px;
  padding: .25em;
  width: 100%;
  font-size: .8em;
/* maybe needs: http://brm.io/jquery-match-height/ */
} 
#eathappy.editor .secondary-categories input[type=checkbox]:checked + label {
  color: green;
  font-style: normal;
  border: 2px solid limegreen;
  background-color: lime;
}
/* Hide the checkboxes, pure fake button:  "checkbox hack" */
#eathappy.editor .secondary-categories input[type=checkbox] {
   position: absolute;
/*   top: -9999px;*/
   left: -9999px;
}
.masthead {
  padding: 1em 0 1em 0;

}
.masthead div.logo {
   text-align: center;
}
.masthead img.logo {
   width: 80%;
   max-width: 350px;
}
.masthead .nameplate {
  font-family: 'Patua One', cursive;
  font-size: 2em;
  vertical-align: middle;
  line-height: 1.0em;
  margin-top: 1.4em;
}
.masthead .nameplate .name {
  line-height: 10px;
  margin-top: .5em;
}
.footer .copyright {
  font-size: .4em;
}
.edit .icons {
  padding-top: .25em;
}
.row h3 {
  margin-top: 0px;
}
/* Weird-assed preset */
@media (min-width: 768px) {
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
  }
}

/* Bootstrap be weird yo */


@media print {
a[href]:after {
    content: "";
}
}

.badge {
  border: 1px solid black; /* necessary for print... */
}
