body {
    Font-family: Tahoma;
  font-size: 12px;
}
.imageList {
   padding-left: 0;
   list-style-type: none;
   width: 90px;
}
.imageList .delete {
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size: 1.2em;
}
h1 {
  margin-top: .2em;
  margin-bottom: .2em;
}
.imageViewer {
  position: relative;
}
.imageViewer .navigation {
  position: fixed;
  z-index: 1000;
  font-size: 1.2em;
  font-weight: bold;
  right: 0;
}  
.imageViewer .imagePath {
  float: left;
  margin: 0px;
}
