<div class='index'>
  <div class="row masthead align-items-center">
    <div class="col-sm-4 logo">
      <!--TMPL_IF NAME="logo"-->
      <img src="<!--TMPL_VAR NAME="logo"-->" alt="<!--TMPL_VAR NAME="logo_alt"-->" class="logo">
      <!--TMPL_ELSE-->
      <img src="/eathappy/Bounty-of-the-sea-web.png" alt="William Pollock's Eat Happy: Logo" class="logo">
      <!--/TMPL_IF-->
      
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-6 nameplate">
      <div class="name">William Pollock Presents:</div>
      <em class="collectionLabel"><!--TMPL_VAR NAME="collectionLabel"--></em>
    </div>
  </div>
  
  
    <div class="row">
      <div class="col-xs-10">
	<h3 class="name"><!--TMPL_VAR NAME="index_title"--></h3>
      </div>
      <div class="col-xs-2 text-right">
	<TMPL_IF NAME="category_loop">
  	  <div class="btn-group btn-group-sm" role="group" aria-label="...">
	    <button type="button" class="btn btn-primary btn-pleasant expand-toggle">
	      <span class="on"><span class="glyphicon glyphicon-resize-full"></span></span>
	      <span class="off"><span class="glyphicon glyphicon-resize-small"></span></span>
	    </button>
	  </div>
        </TMPL_IF>
	
      </div>
    </div>
    
 
  
  <div class='clearfloat'/>
  
  <!--TMPL_IF NAME="entry_loop"-->
    <ul class='list-group'>
      <!--TMPL_LOOP NAME="entry_loop"-->
        <li class='list-group-item'><!--TMPL_VAR NAME="entry_link"--></li>
      <!--/TMPL_LOOP-->
    </ul>   
  <!--/TMPL_IF-->	
  
  <!--TMPL_LOOP NAME="category_loop"-->
    <div class="panel panel-default category <!--TMPL_IF NAME="view_secondary_categories"-->secondary<!--/TMPL_IF-->" data-category="<!--TMPL_VAR NAME="name"-->">
      <div class="panel-heading eathappy-expander" data-expander-for-parent=".category">
        <span class="badge"><!--TMPL_VAR NAME="count"--></span>
        <span class="collapse-content control glyphicon glyphicon-collapse-down"></span>
        <span class="expand-content control glyphicon glyphicon-collapse-up"></span>
        <h5 class="panel-title"><!--TMPL_VAR NAME="name"--></h5>
      </div>
  
      <div class="panel-body off expand-content">
        <div class="list-group">
          <!--TMPL_LOOP NAME="entries"--><!--TMPL_VAR NAME="entry_link"--><!--/TMPL_LOOP-->
        </div>
      </div>

    </div>
  <!--/TMPL_LOOP-->

</div>
