      <div class="panel-heading eathappy-expander" data-expander-for-parent=".category" data-category="<!--TMPL_VAR NAME="name"-->">
        <span class="badge"><!--TMPL_VAR NAME="count"--><!--TMPL_UNLESS NAME="count"-->0<!--/TMPL_UNLESS--></span>
        <span class="collapse-content control glyphicon glyphicon-collapse-down"></span>
        <span class="expand-content control glyphicon glyphicon-collapse-up"></span>
        <h5 class="panel-title"><!--TMPL_VAR NAME="name"--></h5>
      </div>

      <div class="panel-heading" role="tab" id="headingOne">
        <span class="badge"><!--TMPL_VAR NAME="count"--><!--TMPL_UNLESS NAME="count"-->0<!--/TMPL_UNLESS--></span>
        <span class="collapse-content control glyphicon glyphicon-collapse-down"></span>
        <span class="expand-content control glyphicon glyphicon-collapse-up"></span>
        <h4 class="panel-title"  data-toggle="collapse" data-parent="#accordion" href="#s" aria-expanded="false" aria-controls="collapse-second-categories">
	  Secondary Categories
        </h4>
      </div>
